/*-------------Responsive CSS for Tablet -----------------------*/
@media only screen and (max-width:1024px){
    .container{
        padding: 5px 5%;
    }
    .projects-grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
    .sub-title{
        font-size: 40px;
    }
    .header-text h1{
        font-size: 40px;
    }
}

/*-------------Responsive CSS for Mobile -----------------------*/
@media only screen and (max-width:600px){
    #blog-header{
        background-image: url(images/phone.png);
    }
    #header {
        background-image: url(images/try1.png);
    }
    .blog-header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text{
        margin-top: 110%;
        font-size: 16px;
    }
    .header-text{
        padding: 0 20px;
    }
    .header-text h1{
        font-size: 28px;
    }
    .header-text h1 span{
        color: #3b537c;
    }
    .header-text p{
        font-size: 14px;
    }
    .btn button{
        width: 50%;
        left: 0;
        position: relative;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        color: #fff;
    }
    nav ul{
        background-color: #3b537c;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 32px;
    }
    .sub-title::after{
        width: 60px;
        height: 3px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        padding: 0 20px;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-1{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
        padding: 0 20px;
    }
    .contact-left{
        margin-bottom: 30px;
    }
    .copyright{
        font-size: 12px;
        padding: 20px 10px;
    }
    .services-list{
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px;
    }
    .work-list{
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px;
    }
    /*------------------Blog HTML-----------------------*/
    .blog-col-1, .blog-col-2{
        flex-basis: 100%;
    }
    .blog-col-1{
        margin-bottom: 30px;
    }
    .blog-col-1{
        font-size: 14px;
    }
/*------------------Comment Section-----------------*/
.comment-section form {
    flex-direction: column;
}

.comment-section .left-column, 
.comment-section .right-column {
    margin: 0;
}

.comment-section .submit-button {
    margin-top: 20px;
}
    /*------------------Projects Page-----------------------*/
    .projects-header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .projects-header-text h1{
        font-size: 40px;
    }
    .projects-grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .project-card{
        margin: 0 auto;
        max-width: 100%;
    }
    .project-image{
        height: 200px;
    }
    .cta-section h2{
        font-size: 32px;
    }
    .cta-section p{
        font-size: 16px;
    }
    .section-description{
        font-size: 16px;
        padding: 0 20px;
    }
}